@charset "UTF-8";

/* Paleta de cores
    #49a09d
    #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:  #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* tudo que estiver fora da borda fica escondido. a imagem não ficou mais com a ponta.
    Ficou arredondada. */
    overflow: hidden;  

    background-color: aliceblue;
    width: 250px;
    height: 500px;
    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.517);

    /* Fazer uam animação quando for mudar de telas. Celuar, tablte, etc. Transition */

    /* transition: width .2s, height .2s;
    transition-timing-function: ease; */
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/bg-login.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
}


form > div.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;

}


div.campo > label{
    display: none;
}


form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(96, 190, 163);
    color: white;
    border: none;
    border-radius: 10px;
}

form > input[type=submit]:hover{
    background-color: rgb(48, 111, 93);
    cursor: pointer;


}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 78, 65);
    border: 1px solid rgb(32, 78, 65);
    border-radius: 10px;
    text-decoration: none;
}


form > a.botao:hover{
    background-color: rgb(119, 233, 201) ;
}

form > a.botao > span{
    font-size: 1em;
    

}